.new-tweet {
  border: 3px solid black;
  padding: 13px 13px 0px 13px;
  border-radius: 5px;
  margin-bottom: 40px;
  background-color: white;
}

.new-tweet header {
  border-bottom: 2px solid black;
  margin-bottom: 9px;
}

.new-tweet header h2 {
  margin: 0;
}

textarea{
  width: 100%;
  padding: 10px;
  margin-bottom: 5px;
}

.new-tweet footer{
  padding-bottom: 7px;
}

/*the error message*/
.new-tweet footer div{
  display: inline;
  color: #db0022;
  padding-left: 10px
  margin: 0;
}

.new-tweet footer span {
  float: right;
}

article {
  border: 3px solid black;
  padding: 13px;
  border-radius: 5px;
  margin-bottom: 40px;
  color : black;
  background-color: white;
}

article header {
  display: flex;
  flex-flow: row;
  align-items: center;
  background-color: #eee;
  padding: 3px;
  border-radius: 5px;
  min-height: 40px;
}

article header img {
  order: 0;
  padding: 3px;
  float: left;
}

.userName{
  order: 1;
  flex-grow: 3;
  padding-left: 10px;
  font-size: 22px;
  margin: 0;
}

.userHandle {
  order: 2;
  flex-shrink: 1;
  margin: 0;
  font-size: 12px;
  padding-right: 10px;
  font-style: italic;
}

article section {
  border: 1px solid black;
  border-radius: 5px;
  min-height: 80px;
  filter: opacity(0.50);
}

article section:hover {
  filter: opacity(1);
}

article div {
  min-height: 80px;
  border-bottom: 2px;
  padding: 10px;
  margin: 0px;
}

article footer {
  background-color: #eee;
  border-top: 2px;
  border-radius: 5px;
  padding: 10px;
  font-size: 10px;
  margin: 0;
}

article footer span {
  float: right;
  font-size: 12px;
}

article footer span i.far.fa-heart:hover {
  color: red;
}

article footer span i.fas.fa-retweet:hover {
  color: red;
}

article footer span i.fas.fa-share:hover {
  color: red;
}

