.new-tweet {
  border: 3px solid black;
  padding: 13px;
  border-radius: 5px;
}

.new-tweet header {
  border-bottom: 2px solid black;
  margin-bottom: 9px;
}

.new-tweet header h2 {
  margin: 0;
}

textarea{
  width: 100%;
  padding: 10px;
}

form {
  margin-bottom: 9px;
}

span {
  float: right;
}